body {
    background: linear-gradient(to bottom, #e3f2fd, #ffffff);
}


.custom-card {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    max-width: 500px;
    margin: auto;
}

h2 {
    font-weight: bold;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

    .btn-success:hover {
        background-color: #218838;
    }

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff;
}
